# TO DO

1. Balances - need to be updated when we find a block and when min payout is changed. This will be one row per miner
2. payments - only is updated when a payment is attempted

In [1]:
from src.database import PostgresDB
from src.core import SigsCore
import random
import pandas as pd

def reset_database():
    db = PostgresDB()
    
    # Drop existing tables
    db.execute_query("DROP TABLE IF EXISTS balances")
    db.execute_query("DROP TABLE IF EXISTS payments")
    
    # Recreate tables
    db.create_table('balances', {
        'address': 'TEXT PRIMARY KEY',
        'balance': 'NUMERIC',
        'min_payout': 'NUMERIC'
    })
    db.create_table('payments', {
        'id': 'SERIAL PRIMARY KEY',
        'Asset': 'TEXT',
        'Amount': 'NUMERIC',
        'address': 'TEXT',
        'Balance_Paid': 'NUMERIC',
        'TransactionId': 'TEXT',
        'timestamp': 'TIMESTAMP DEFAULT CURRENT_TIMESTAMP'
    })
    
    print("Database reset complete.")

def insert_test_data():
    db = PostgresDB()
    
    # Insert test balances
    addresses = ['9eg7v2nkypUZbdyvSKSD9kg8FNwrEdTrfC2xdXWXmEpDAFEtYEn', '9fj3mV8aF27jZBBH5HBdecVcD5hoUcqqcMmo1j8aUbCA1rceGLE',
                 '9hAcdWpFAv7biCSeUcCvXWYRfEepm1ubdsfg5PC48k9S7ymiU3W', '9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPVApYkk']
    for i in range(len(addresses)):
        address = addresses[i] # f'9{random.randint(100000000, 999999999)}abcdef'
        balance = round(random.uniform(0.5, 5.0), 4)
        min_payout = 1.0  # Fixed min payout for simplicity
        
        db.insert_data('balances', {
            'address': address,
            'balance': balance,
            'min_payout': min_payout
        })
    
    print("Test data inserted.")

def display_table_data(table_name):
    db = PostgresDB()
    data = db.fetch_data(table_name)
    columns = db.get_column_names(table_name)
    df = pd.DataFrame(data, columns=columns)
    print(f"\n{table_name.capitalize()} table:")
    print(df)
    return df

def main():
    reset_database()
    insert_test_data()
    
    print("\nInitial state:")
    display_table_data('balances')
    display_table_data('payments')

    print('Running Sigs Core')
    core = SigsCore()
    result_df = core.execute(debug=True)
    
    print("\nAfter execution:")
    balances = display_table_data('balances')
    payments = display_table_data('payments')
    
    print("\nExecution result:")
    print(result_df)

if __name__ == "__main__":
    main()

Database reset complete.
Test data inserted.

Initial state:

Balances table:
                                             address balance min_payout
0  9eg7v2nkypUZbdyvSKSD9kg8FNwrEdTrfC2xdXWXmEpDAF...   2.463        1.0
1  9fj3mV8aF27jZBBH5HBdecVcD5hoUcqqcMmo1j8aUbCA1r...  1.9687        1.0
2  9hAcdWpFAv7biCSeUcCvXWYRfEepm1ubdsfg5PC48k9S7y...  4.2332        1.0
3  9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...  3.5474        1.0

Payments table:
Empty DataFrame
Columns: [id, asset, amount, address, balance_paid, transactionid, timestamp]
Index: []
Running Sigs Core
1324551 74eeec549da941ef88ace0f2f5fb0ae3b41bcbfd97ef7c5f964b92d0fba87422 270619a2c297c0818e8afc59c8a0ae679fed0c3d91d9295384f4203f23db651a
Debug mode: Simulating transaction
Failed to retrieve data: Status code 404
Debug mode: Simulating transaction
1324410 f1089892310222a9e081d3ecf62422bffd8251ae42948b582e27da8bac861527 263ad60fd1e860749061f13e95ae3ea7ecf573fd4e04122ac0aa48c4dd746c6b
Debug mode: Simulating transaction
1306489 6c44b6d3c9986424596ff3cde07ae28a9d181ac4da0131c76e1ec95564f015b8 98c3dff471f624f83aca38f4a0f700a45087d20225e7e0ae699e01bc671e59d9
Debug mode: Simulating transaction
1.9186784778000001 ammnt
6.429358551000001 ammnt
1.4778 ammnt
nan ammnt
triggered
nan ammnt
triggered
nan ammnt
triggered
nan ammnt
triggered
nan ammnt
triggered
1.9687 ammnt
nan ammnt
triggered
nan ammnt
triggered
nan ammnt
triggered
nan ammnt
triggered
nan ammnt
triggered
4.2332 ammnt
nan ammnt
triggered
nan ammnt
triggered
nan ammnt
triggered
nan ammnt
triggered
9.260051369800001 ammnt
1.7737 ammnt
386.66656629970004 ammnt
0.7084157800000002 ammnt
5.675840000000001e-06 ammnt

After execution:

Balances table:
                                             address balance min_payout
0  9eg7v2nkypUZbdyvSKSD9kg8FNwrEdTrfC2xdXWXmEpDAF...       0        1.0
1  9fj3mV8aF27jZBBH5HBdecVcD5hoUcqqcMmo1j8aUbCA1r...       0        1.0
2  9hAcdWpFAv7biCSeUcCvXWYRfEepm1ubdsfg5PC48k9S7y...       0        1.0
3  9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...       0        1.0

Payments table:
   id   asset                   amount  \
0   1   Bober       1.9186784778000001
1   2     RSN        6.429358551000001
2   3    ERGO                   1.4778
3   4    ERGO                   1.9687
4   5    ERGO                   4.2332
5   6     RSN        9.260051369800001
6   7    ERGO                   1.7737
7   8   COMET       386.66656629970004
8   9  SigUSD       0.7084157800000002
9  10   rsBTC  0.000005675840000000001

                                             address balance_paid  \
0  9eg7v2nkypUZbdyvSKSD9kg8FNwrEdTrfC2xdXWXmEpDAF...        2.463
1  9eg7v2nkypUZbdyvSKSD9kg8FNwrEdTrfC2xdXWXmEpDAF...        2.463
2  9eg7v2nkypUZbdyvSKSD9kg8FNwrEdTrfC2xdXWXmEpDAF...        2.463
3  9fj3mV8aF27jZBBH5HBdecVcD5hoUcqqcMmo1j8aUbCA1r...       1.9687
4  9hAcdWpFAv7biCSeUcCvXWYRfEepm1ubdsfg5PC48k9S7y...       4.2332
5  9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...       3.5474
6  9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...       3.5474
7  9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...       3.5474
8  9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...       3.5474
9  9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...       3.5474

  transactionid                  timestamp
0         debug 2024-08-08 09:24:50.431132
1         debug 2024-08-08 09:24:50.450823
2         debug 2024-08-08 09:24:50.465992
3         debug 2024-08-08 09:24:50.480771
4         debug 2024-08-08 09:24:50.495280
5         debug 2024-08-08 09:24:50.509837
6         debug 2024-08-08 09:24:50.526898
7         debug 2024-08-08 09:24:50.541932
8         debug 2024-08-08 09:24:50.556408
9         debug 2024-08-08 09:24:50.571232

Execution result:
    Asset      Amount                                            address  \
0   Bober    1.918678  9eg7v2nkypUZbdyvSKSD9kg8FNwrEdTrfC2xdXWXmEpDAF...
1     RSN    6.429359  9eg7v2nkypUZbdyvSKSD9kg8FNwrEdTrfC2xdXWXmEpDAF...
2    ERGO    1.477800  9eg7v2nkypUZbdyvSKSD9kg8FNwrEdTrfC2xdXWXmEpDAF...
3    ERGO    1.968700  9fj3mV8aF27jZBBH5HBdecVcD5hoUcqqcMmo1j8aUbCA1r...
4    ERGO    4.233200  9hAcdWpFAv7biCSeUcCvXWYRfEepm1ubdsfg5PC48k9S7y...
5     RSN    9.260051  9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...
6    ERGO    1.773700  9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...
7   COMET  386.666566  9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...
8  SigUSD    0.708416  9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...
9   rsBTC    0.000006  9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...

   Balance_Paid TransactionId
0        2.4630         debug
1        2.4630         debug
2        2.4630         debug
3        1.9687         debug
4        4.2332         debug
5        3.5474         debug
6        3.5474         debug
7        3.5474         debug
8        3.5474         debug
9        3.5474         debug

In [2]:
balances = display_table_data('balances')
payments = display_table_data('payments')
balances

Balances table:
                                             address balance min_payout
0  9eg7v2nkypUZbdyvSKSD9kg8FNwrEdTrfC2xdXWXmEpDAF...       0        1.0
1  9fj3mV8aF27jZBBH5HBdecVcD5hoUcqqcMmo1j8aUbCA1r...       0        1.0
2  9hAcdWpFAv7biCSeUcCvXWYRfEepm1ubdsfg5PC48k9S7y...       0        1.0
3  9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...       0        1.0

Payments table:
   id   asset                   amount  \
0   1   Bober       1.9186784778000001
1   2     RSN        6.429358551000001
2   3    ERGO                   1.4778
3   4    ERGO                   1.9687
4   5    ERGO                   4.2332
5   6     RSN        9.260051369800001
6   7    ERGO                   1.7737
7   8   COMET       386.66656629970004
8   9  SigUSD       0.7084157800000002
9  10   rsBTC  0.000005675840000000001

                                             address balance_paid  \
0  9eg7v2nkypUZbdyvSKSD9kg8FNwrEdTrfC2xdXWXmEpDAF...        2.463
1  9eg7v2nkypUZbdyvSKSD9kg8FNwrEdTrfC2xdXWXmEpDAF...        2.463
2  9eg7v2nkypUZbdyvSKSD9kg8FNwrEdTrfC2xdXWXmEpDAF...        2.463
3  9fj3mV8aF27jZBBH5HBdecVcD5hoUcqqcMmo1j8aUbCA1r...       1.9687
4  9hAcdWpFAv7biCSeUcCvXWYRfEepm1ubdsfg5PC48k9S7y...       4.2332
5  9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...       3.5474
6  9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...       3.5474
7  9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...       3.5474
8  9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...       3.5474
9  9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...       3.5474

  transactionid                  timestamp
0         debug 2024-08-08 09:24:50.431132
1         debug 2024-08-08 09:24:50.450823
2         debug 2024-08-08 09:24:50.465992
3         debug 2024-08-08 09:24:50.480771
4         debug 2024-08-08 09:24:50.495280
5         debug 2024-08-08 09:24:50.509837
6         debug 2024-08-08 09:24:50.526898
7         debug 2024-08-08 09:24:50.541932
8         debug 2024-08-08 09:24:50.556408
9         debug 2024-08-08 09:24:50.571232

                                             address balance min_payout
0  9eg7v2nkypUZbdyvSKSD9kg8FNwrEdTrfC2xdXWXmEpDAF...       0        1.0
1  9fj3mV8aF27jZBBH5HBdecVcD5hoUcqqcMmo1j8aUbCA1r...       0        1.0
2  9hAcdWpFAv7biCSeUcCvXWYRfEepm1ubdsfg5PC48k9S7y...       0        1.0
3  9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...       0        1.0

In [3]:
payments

,id,asset,amount,address,balance_paid,transactionid,timestamp
0,1,Bober,1.9186784778000001,9eg7v2nkypUZbdyvSKSD9kg8FNwrEdTrfC2xdXWXmEpDAF...,2.463,debug,2024-08-08 09:24:50.431132
1,2,RSN,6.429358551000001,9eg7v2nkypUZbdyvSKSD9kg8FNwrEdTrfC2xdXWXmEpDAF...,2.463,debug,2024-08-08 09:24:50.450823
2,3,ERGO,1.4778,9eg7v2nkypUZbdyvSKSD9kg8FNwrEdTrfC2xdXWXmEpDAF...,2.463,debug,2024-08-08 09:24:50.465992
3,4,ERGO,1.9687,9fj3mV8aF27jZBBH5HBdecVcD5hoUcqqcMmo1j8aUbCA1r...,1.9687,debug,2024-08-08 09:24:50.480771
4,5,ERGO,4.2332,9hAcdWpFAv7biCSeUcCvXWYRfEepm1ubdsfg5PC48k9S7y...,4.2332,debug,2024-08-08 09:24:50.495280
5,6,RSN,9.260051369800001,9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...,3.5474,debug,2024-08-08 09:24:50.509837
6,7,ERGO,1.7737,9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...,3.5474,debug,2024-08-08 09:24:50.526898
7,8,COMET,386.66656629970004,9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...,3.5474,debug,2024-08-08 09:24:50.541932
8,9,SigUSD,0.7084157800000002,9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...,3.5474,debug,2024-08-08 09:24:50.556408
9,10,rsBTC,0.000005675840000000001,9ehJZvPDgvCNNd2zTQHxnSpcCAtb1kHbEN1VAgeoRD5DPV...,3.5474,debug,2024-08-08 09:24:50.571232